.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .navbar a {
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px auto;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }

body { background-color: rgb(148, 181, 224); }
  
  #gauge_div {width: 50%; margin: 0 auto; margin-top:30%;}
  h2{
   text-align: center;
  }
